html, body {
  background: url('background.gif') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}



h2{
    text-align: center;
    color: plum;
    font-family:'Courier New', Courier, monospace
}


.logo{
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto

}

.column {
  float: right;
  padding: 10px;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

p, p1, p2, p3, h2 {
  font-size: 24px; /* Adjust size as needed */
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* unvisited link */
a:link {
    color: plum;
  }
  
  /* visited link */
  a:visited {
    color: plum;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

  h3{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: plum;
  }

::selection{
  color:violet;
  background: beige;
}